    @import './colors';
    .main {
        background-color: rgb(31, 31, 31);
        display: flex;
    }
    
    .content-pages {
        padding: 15px;
        min-height: 100vh;
    }
    
    .title-pages {
        font-size: 25px;
    }
    
    .breadcrumb {
        padding-top: 15px;
        width: 100%;
        a,
        span {
            font-size: 18px;
        }
        .active::before {
            content: '/';
            font-size: 24px;
            float: unset;
        }
    }
    
    span.badge.badge-secondary.badge-pill {
        background: #007bff;
    }