    @import './colors';
    .main {
        background-color: rgb(31, 31, 31);
        display: flex;
    }
    
    .content-pages {
        padding: 15px;
    }
    
    .title-pages {
        font-size: 25px;
    }